.typo{
    color: rgb(233, 171, 171);
    font-size: 25px;
    padding: 20px;
    
}
.Stack {
    margin-left: auto;
}

.appbar {
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 5px;
   
}